$fontFamilyOpensans: 'Open Sans', sans-serif;
/*** color ***/
$primary: #2f2b60;
$secondary: #ed353a;
$success: #2bc155;
$danger: #f72336;
$warning: #ffbc11;
$info: #1ea7c5;
$light: #f4f5f9;
$dark: #b1b1b1;

$primaryhover: #211c57;
$secondaryhover: #dd484c;
$successhover: #24a247;
$dangerhover: #d21425;
$warninghover: #eaa800;
$infohover: #198ba4;
$lighthover: #fff;
$darkhover: #989898;

//=========== 
$white: white;
$black: black;
$MineShaft: #333333;
$Emperor: #555555;
$Tundora: #404040;
$gray: #888888;
$red: red;

$Alabaster: #F7F7F7;
$AthensGray: #F0F1F5;
$Alto: #CECECE;


